body {
  text-align: center;
  font-family: sans-serif;
}
button {
  font-size: 20px;
  padding: 15px;
  margin: 15px;
  background-color: black;
  color: white;
}

h4 {
  font-style: italic;
}

ul {
  list-style-type: none;
  width: 30%;
  margin: auto;
}

li {
  white-space: pre-line;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

#design {
  background-color: lightgoldenrodyellow;
  border: 5px solid gold;
  margin: auto;
  width: 450px;
  text-align: center;
}
h1 {
  color: blueviolet;
}
body {
  padding: 0px;
  background-color: rgb(70, 26, 62);
}
h2 {
  color: maroon;
}

h4 {
  color: crimson;
}
button:hover {
  background-color: floralwhite;
  color: black;
}
